**/bin/*
**/obj/*
**.*.suo
**.v12.suo
**.rar
**.exe
**/Debug/*
**/Release/*
!**/DLL/*.dll
**/TestResults
**/packages/*
**.htm
Instaladores AddOns/Maquinaria.ard
Instaladores AddOns/Maquinaria.zip
Instaladores AddOns/Maquinaria102.ard
Instaladores AddOns/Maquinaria102.zip
Instaladores AddOns/Maquinaria103.ard
Instaladores AddOns/Maquinaria103.zip
Instaladores AddOns/Maquinaria104.ard
Instaladores AddOns/Maquinaria104.zip
backup/UGRS.201820181003
Instaladores AddOns/
backup/
*.zip
SAPBusinessOneSDK.dll
Corrales20190220/UGRS.AddOn.Finances/BankExtractsImporting.cs
Corrales20190220/UGRS.AddOn.Finances/BonusModal.cs
Corrales20190220/UGRS.AddOn.Finances/CardComission.cs
Corrales20190220/UGRS.AddOn.Finances/ComissionModal.cs
Corrales20190220/UGRS.AddOn.Finances/Entities/BankStatement.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/BanamexFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/BancomerFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/BanorteFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/ExtractFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/OldBancomerFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/SantanderFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Formatters/ScotiabankFormatter.cs
Corrales20190220/UGRS.AddOn.Finances/Forms/BouncedChecks.b1f
Corrales20190220/UGRS.AddOn.Finances/Forms/BouncedChecks.b1f.cs
Corrales20190220/UGRS.AddOn.Finances/Forms/CheckGeneration.b1f
Corrales20190220/UGRS.AddOn.Finances/Forms/CheckGeneration.b1f.cs
Corrales20190220/UGRS.AddOn.Finances/Forms/InvoiceTest.b1f
Corrales20190220/UGRS.AddOn.Finances/Forms/InvoiceTest.b1f.cs
Corrales20190220/UGRS.AddOn.Finances/Forms/Payments.b1f
Corrales20190220/UGRS.AddOn.Finances/Forms/Payments.b1f - Copy.cs
Corrales20190220/UGRS.AddOn.Finances/Forms/Payments.b1f.cs
Corrales20190220/UGRS.AddOn.Finances/Menu.cs
Corrales20190220/UGRS.AddOn.Finances/Program.cs
Corrales20190220/UGRS.AddOn.Finances/Properties/AssemblyInfo.cs
Corrales20190220/UGRS.AddOn.Finances/Services/BankStatementsLogService.cs
Corrales20190220/UGRS.AddOn.Finances/UGRS.AddOn.Finances.csproj
Corrales20190220/UGRS.AddOn.Finances/UGRS.AddOn.Finances.csproj.user
Corrales20190220/UGRS.AddOn.Finances/Utils/Constants.cs
Corrales20190220/UGRS.AddOn.Finances/Utils/SelectFileDialog.cs
Corrales20190220/UGRS.AddOn.Finances/Utils/UI.cs
Corrales20190220/UGRS.AddOn.Finances/Utils/XmlLoader.cs
Corrales20190220/UGRS.AddOn.Finances/XmlForms/fmBonus.xml
Corrales20190220/UGRS.AddOn.Finances/XmlForms/fmCrdCom.xml
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/MachineryForm.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/MachineryForm.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmCFLFolios.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmCFLFolios.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmCFLOrdersSale.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmCFLOrdersSale.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmContracts.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmContracts.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmGoodIssue.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmGoodIssue.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmRiseSearch.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmRiseSearch.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmRisesCommissions.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmRisesCommissions.b1f - Copy.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmRisesCommissions.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmStockTransfer.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmStockTransfer.b1f.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmTravelExpenses.b1f
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmTravelExpenses.b1f - Copy.cs
UGRS.2018/UGRS.AddOn.Machinery/b1s/Forms/frmTravelExpenses.b1f.cs

UGRS\.2018/UGRS\.AddOn\.Machinery/b1s/

UGRS\.2018/UGRS\.2018\.v12\.suo
