**/bin/*
**/obj/*
**.*.suo
**.v12.suo
**.rar
**.exe
**/Debug/*
**/Release/*
!**/DLL/*.dll
**/TestResults
**/packages/*
**.htm

UGRS\.2018/UGRS\.AddOn\.Machinery/bin/x64/Debug/

UGRS\.2018/UGRS\.AddOn\.Machinery/bin/

UGRS\.2018/UGRS\.AddOn\.Machinery/b1s/

UGRS\.2018/UGRS\.AddOn\.Machinery/obj/

UGRS\.2018/UGRS\.Core\.SDK\.DI\.Machinery/bin/

UGRS\.2018/UGRS\.Core\.SDK\.DI\.Machinery/obj/

UGRS\.2018/UGRS\.AddOn\.Finances/bin/

UGRS\.2018/UGRS\.Core\.SDK\.DI\.Finances/bin/
