<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PadeTimbradoServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://timbrado.pade.mx:80/servicio/Timbrado3.3"
        binding="basicHttpBinding" bindingConfiguration="PadeTimbradoServicePortBinding"
        contract="TimbradoSoap33Prodigia.PadeTimbradoService" name="PadeTimbradoServicePort" />
    </client>
  </system.serviceModel>
</configuration>