<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="QualisysConfig" version="1.0.3" targetFramework="net45" />
  <package id="QualisysExtensions" version="1.0.2" targetFramework="net45" />
  <package id="QualisysLog" version="1.0.4" targetFramework="net45" />
</packages>